<%- include('includes/header'); -%>

<!-- breadcrumbs -->
<section
    class="breadcrumbs"
    style="
        background-image: url(assets/images/breadcrumb.jpg);
        background-color: rgba(65, 66, 39, 0.282) !important;
    "
>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="h1">About Us</h1>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Home</a><i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- /breadcrumbs -->
<!-- about -->
<section class="about">
    <div class="container">
        <h2 class="h2">About Our FoodQuest</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="about_img">
                    <img
                        class="img-responsive"
                        src="assets/images/about.jpg"
                        alt=""
                    />
                </div>
            </div>
            <div class="col-md-6">
                <div class="about_info">
                    <div class="about_t">From 2019 to now...</div>
                    <p>
                        Offering the whole product range of stock feeds to suit
                        livestock farmers. Packaging of basic food products for
                        Zimbabweans e.g salt, sugar beans etc
                    </p>
                    <a class="btn btn-default" href="/contacts">Contact us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /about -->
<!-- Our mission -->
<section class="mission">
    <div class="container">
        <h2 class="h2">Our Mission</h2>
        <div class="row">
            <div class="col-md-6">
                <ul class="mission_ul">
                    <li>Offering high quality stock feeds to the customerss</li>
                    <li>
                        Offering the whole product range of stock feeds to suit
                        livestock farmers
                    </li>
                    <li>
                        Managing product quality, convenience to customers,
                        professional customer service and managing budgets..
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="mission_ul">
                    <li>
                        Packaging of basic food products for Zimbabweans e.g
                        salt, sugar beans etce
                    </li>
                    <li>
                        Constant evaluation of strengths and weaknesses with
                        adjustments made as warranted..
                    </li>
                    <li>
                        Manufacturing of mealie meal since sadza is the staple
                        food for Zimbabweans, therefore creating viability for
                        FQ.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- /Our mission -->
<!-- lux banner parallax -->
<section
    class="banner bg-parallax2"
    style="background-image: url(assets/images/hero.jpg)"
>
    <div class="overlay"></div>
    <div class="banner-parallax">
        <div class="container">
            <div class="text-center">
                <div class="banner-parallax_raiting">
                    <a href="#"><span class="star __selected"></span></a>
                    <a href="#"><span class="star __selected"></span></a>
                    <a href="#"><span class="star __selected"></span></a>
                    <a href="#"><span class="star __selected"></span></a>
                    <a href="#"><span class="star"></span></a>
                </div>
                <h2 class="banner-parallax_t">
                    We're a high quality livestock feeds supplier
                </h2>
                <!-- <div class="banner-parallax_price">
                    <span>$560</span> / Night (Only This Week)
                </div> -->
                <a href="/" class="btn btn-default get-qoute">Get a qoute</a>
            </div>
        </div>
    </div>
</section>
<!-- /lux banner parallax -->
<!-- testiomonials -->
<!-- <section class="testimonials">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">
                Some Testimonails<span class="title-secondary"
                    >People Says About Us</span
                >
            </h2>
        </div>
        <div class="owl-carousel">
            <div class="item">
                <div class="testimonials-block_i">
                    <div class="testimonials-block_t">
                        Great <span>Service</span>
                    </div>
                    <p>
                        Old unsatiable our now but considered travelling
                        impression. In excuse hardly summer in basket misery. By
                        rent an part need. At wrong of of water those linen.
                        Needed oppose seemed how all
                    </p>
                </div>
                <div class="testimonials-block_user">
                    <div class="user_img">
                        <img src="assets/images/testimonials/mike.jpg" alt="" />
                    </div>
                    <div class="user_n">Garry Carlson</div>
                </div>
            </div>
            <div class="item">
                <div class="testimonials-block_i">
                    <div class="testimonials-block_t">
                        Thank You Very Much <span>I Am Happy!</span>
                    </div>
                    <p>
                        Certainty listening no no behaviour existence assurance
                        situation is. Because add why not esteems amiable him.
                        Interested the unaffected mrs law friendship add
                        principles.
                    </p>
                </div>
                <div class="testimonials-block_user">
                    <div class="user_img">
                        <img src="assets/images/testimonials/mila.png" alt="" />
                    </div>
                    <div class="user_n">Mila Markovna</div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /testiomonials -->

<%- include('includes/footer'); -%>
