<%- include('includes/header'); -%>
<!-- breadcrumbs -->
<section
    class="breadcrumbs"
    style="background-image: url(assets/images/breadcrumb.jpg)"
>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="h1">Contacts</h1>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Home</a><i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Contacts</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- /breadcrumbs -->
<section class="contact-block">
    <div class="container">
        <div class="contact-block_form">
            <div class="row">
                <div class="contact-block_info">
                    <div class="col-md-4">
                        <div class="contact-block_i">
                            <div class="info_icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="info_txt">
                                <span>Stand 8 Melfort Park, Goromonzi</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-block_i">
                            <div class="info_icon">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="info_txt">
                                <span>support@email.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contact-block_i">
                            <div class="info_icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="info_txt">
                                <span>+263 73 296 285</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row marg50">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2 class="h2">Drop Us Some Lines...</h2>
                </div>
                <% if (emailError) { %>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-dismissible alert-danger">
                        <h2 class="text-center"><%= emailError %></h2>
                    </div>
                </div>
                <% } %> <% if (emailSuccess) { %>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="alert alert-dismissible alert-success">
                        <h2 class="text-center"><%= emailSuccess %></h2>
                    </div>
                </div>
                <% } %>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
                <div class="col-lg-8 col-md-8 col-sm-11 col-xs-11 mr-1">
                    <form
                        id="contactForm"
                        name="sentMessage"
                        novalidate=""
                        action="/contacts"
                        method="post"
                        role="form"
                        class="form-horizontal form-wizzard"
                    >
                        <div class="col-lg-4">
                            <div
                                class="text_cont form-group floating-label-form-group controls"
                            >
                                <input
                                    id="name"
                                    type="text"
                                    placeholder="You Name"
                                    required
                                    name="name"
                                    data-validation-required-message="Please enter name"
                                    class="form-control"
                                /><span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div
                                class="text_cont form-group floating-label-form-group controls"
                            >
                                <input
                                    id="email"
                                    type="email"
                                    placeholder="You Email"
                                    required
                                    name="email"
                                    data-validation-required-message="Please enter email"
                                    class="form-control"
                                /><span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div
                                class="text_cont form-group floating-label-form-group controls"
                            >
                                <input
                                    id="phone"
                                    type="tel"
                                    placeholder="You Phone"
                                    required
                                    name="phone"
                                    data-validation-required-message="Please enter phone number"
                                    class="form-control"
                                /><span class="help-block text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div
                                class="text_cont form-group floating-label-form-group controls"
                            >
                                <textarea
                                    id="message"
                                    cols="40"
                                    rows="10"
                                    placeholder="Message"
                                    required
                                    name="message"
                                    data-validation-required-message="Please enter a message."
                                    aria-invalid="false"
                                    class="form-control"
                                ></textarea
                                ><span class="help-block text-danger"></span>
                            </div>
                            <div id="success"></div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-default">
                                Send Message
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
            </div>
        </div>
    </div>
</section>
<!-- <section class="map">
    <div id="map"></div>
</section> -->
<!-- /main wrapper -->

<%- include('includes/footer'); -%>
