<%- include('includes/header'); -%>

<!-- breadcrumbs -->
<section
    class="breadcrumbs"
    style="background-image: url(assets/images/breadcrumb.jpg)"
>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="h1">Not Found</h1>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li>
                        <a href="#">Home</a><i class="fa fa-angle-right"></i>
                    </li>
                    <li class="active">Not FOund</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- /breadcrumbs -->
<!-- 404 -->
<section class="not-found">
    <div class="container">
        <div class="not-found_t">4<span>0</span>4</div>
        <div class="not-found_slogan">Oops, Error!</div>
        <div class="not_found_txt">
            The page you were looking for could not be found.
        </div>
    </div>
</section>
<!-- /404 -->
<%- include('includes/footer'); -%>
