<%- include('includes/header'); -%>

<!-- parallax -->
<section
    class="bg-parallax parallax-window"
    style="background-image: url(assets/images/hero.jpg)"
>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="parallax-text">
                    <h2 class="parallax_t __white">YOUR BEST LIVESTOCK</h2>
                    <h1
                        class="parallax_t __green font-weight-bold"
                        style="font-size: 30px; font-weight: 'bold'"
                    >
                        Feeding africa
                    </h1>
                    <p class="mb-3">
                        Offering the whole product range of stock feeds to suit
                        livestock farmers. Packaging of basic food products for
                        Zimbabweans e.g salt, sugar beans etc
                    </p>
                </div>
            </div>
            <!-- planner-->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 planner mt-3">
                <div class="planner-block mt-3">
                    <form class="form-planner form-horizontal">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input
                                        required
                                        class="form-control"
                                        type="text"
                                        name="firsName"
                                        placeholder="Your First Name"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input
                                        required
                                        class="form-control"
                                        type="text"
                                        name="lastName"
                                        placeholder="Your Last Name"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div
                                class="col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            >
                                <div class="form-group">
                                    <label>Products</label>
                                    <div class="theme-select">
                                        <select
                                            required
                                            name="product"
                                            class="form-control __plannerSelect"
                                        >
                                            <option value="Day old chicks">
                                                Day old chicks
                                            </option>
                                            <option
                                                value="3 phase broiler crumbs and pelets"
                                            >
                                                3 phase broiler crumbs and
                                                pelets
                                            </option>
                                            <option
                                                value="Layer Mash and concentrates"
                                            >
                                                Layer Mash and concentrates
                                            </option>
                                            <option
                                                value="Pig meals and concentrates"
                                            >
                                                Pig meals and concentrates
                                            </option>
                                            <option value="Dog food and chunks">
                                                Dog food and chunks
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Quantity ( units or kgs )</label>
                                    <input
                                        class="form-control"
                                        type="number"
                                        name="quantity"
                                        required
                                        placeholder="Your quantity"
                                    />
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Enter your email</label>
                                    <input
                                        type="email"
                                        name="email"
                                        required
                                        class="form-control"
                                        placeholder="E-mail"
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="planner-check-availability">
                                    <button
                                        type="submit"
                                        class="btn btn-default"
                                    >
                                        Get A Qoute
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /planner-->
        </div>
    </div>
</section>
<!-- /parallax -->
<!-- chose best rooms -->
<section class="best-room">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">
                Available in Stock<span class="title-secondary"
                    >Our products listing</span
                >
            </h2>
        </div>
        <div class="best-room-carousel">
            <ul class="row best-room_ul">
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
                    <div class="best-room_img">
                        <a href="#"
                            ><img src="assets/images/product1.jpg" alt=""
                        /></a>
                        <div class="best-room_overlay">
                            <div class="overlay_icn">
                                <!-- <a href="#"></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="best-room-info">
                        <div class="best-room_t">
                            <a>Day old chicks</a>
                        </div>
                        <div class="best-room_desc">
                            <!-- Difficulty on insensible reasonable in. From as went
                            he they. Preference themselves me as thoroughly
                            partiality considered. -->
                        </div>
                        <div class="best-room_price">
                            <!-- <span>$99</span> / two days -->
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
                    <div class="best-room_img">
                        <a href="#"
                            ><img src="assets/images/product2.jpg" alt=""
                        /></a>
                        <div class="best-room_overlay">
                            <div class="overlay_icn">
                                <!-- <a href="best-rooms-detail.html"></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="best-room-info">
                        <div class="best-room_t">
                            <a>Pig meals and concentrates</a>
                        </div>
                        <div class="best-room_desc">
                            <!-- Difficulty on insensible reasonable in. From as went
                            he they. Preference themselves me as thoroughly
                            partiality considered. -->
                        </div>
                        <div class="best-room_price">
                            <!-- <span>$129</span> / two days -->
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
                    <div class="best-room_img">
                        <a href="#"
                            ><img src="assets/images/product3.jpg" alt=""
                        /></a>
                        <div class="best-room_overlay">
                            <div class="overlay_icn">
                                <!-- <a href="best-rooms-detail.html"></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="best-room-info">
                        <div class="best-room_t">
                            <a>Broiler crumbs and pelets</a>
                        </div>
                        <div class="best-room_desc">
                            <!-- Difficulty on insensible reasonable in. From as went
                            he they. Preference themselves me as thoroughly
                            partiality considered. -->
                        </div>
                        <div class="best-room_price">
                            <!-- <span>$349</span> / two days -->
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
                    <div class="best-room_img">
                        <a href="#"
                            ><img src="assets/images/product3.jpg" alt=""
                        /></a>
                        <div class="best-room_overlay">
                            <div class="overlay_icn">
                                <!-- <a href="best-rooms-detail.html"></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="best-room-info">
                        <div class="best-room_t">
                            <a>Broiler mashes and concentrates</a>
                        </div>
                        <div class="best-room_desc">
                            <!-- Difficulty on insensible reasonable in. From as went
                            he they. Preference themselves me as thoroughly
                            partiality considered. -->
                        </div>
                        <div class="best-room_price">
                            <!-- <span>$49</span> / two days -->
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
                    <div class="best-room_img">
                        <a href="#"
                            ><img src="assets/images/product5.jpg" alt=""
                        /></a>
                        <div class="best-room_overlay">
                            <div class="overlay_icn">
                                <!-- <a href="best-rooms-detail.html"></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="best-room-info">
                        <div class="best-room_t">
                            <a>Dog food and chunks</a>
                        </div>
                        <div class="best-room_desc">
                            <!-- Difficulty on insensible reasonable in. From as went
                            he they. Preference themselves me as thoroughly
                            partiality considered. -->
                        </div>
                        <div class="best-room_price">
                            <!-- <span>$199</span> / two days -->
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
                    <div class="best-room_img">
                        <a href="#"
                            ><img src="assets/images/product6.jpg" alt=""
                        /></a>
                        <div class="best-room_overlay">
                            <div class="overlay_icn">
                                <!-- <a href="best-rooms-detail.html"></a> -->
                            </div>
                        </div>
                    </div>
                    <div class="best-room-info">
                        <div class="best-room_t">
                            <a>Lay mash and concentrates</a>
                        </div>
                        <div class="best-room_desc">
                            <!-- Difficulty on insensible reasonable in. From as went
                            he they. Preference themselves me as thoroughly
                            partiality considered. -->
                        </div>
                        <div class="best-room_price">
                            <!-- <span>$209</span> / two days -->
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- /choose best rooms -->
<!-- lux banner parallax -->
<section
    class="banner bg-parallax2"
    style="background-image: url(assets/images/hero.jpg)"
>
    <div class="overlay"></div>
    <div class="banner-parallax">
        <div class="container">
            <div class="text-center">
                <div class="banner-parallax_raiting">
                    <a href="#"><span class="star __selected"></span></a>
                    <a href="#"><span class="star __selected"></span></a>
                    <a href="#"><span class="star __selected"></span></a>
                    <a href="#"><span class="star __selected"></span></a>
                    <a href="#"><span class="star"></span></a>
                </div>
                <h2 class="banner-parallax_t">
                    We're a high quality livestock feeds supplier
                </h2>
                <!-- <div class="banner-parallax_price">
                    <span>$560</span> / Night (Only This Week)
                </div> -->
                <a role="button" class="btn btn-default get-qoute"
                    >Get a qoute</a
                >
            </div>
        </div>
    </div>
</section>
<!-- /lux banner parallax -->
<!-- enjoy our services -->
<section class="section">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">
                Our Goals<span class="title-secondary"
                    >What wakes us up every morning.</span
                >
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="service_title">
                    <i class="fa fa-futbol-o"></i> Quality Products
                </h3>
                <p>
                    Offering high quality stock feeds to the customers to ensure
                    customer satisfaction
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="service_title">
                    <i class="fa fa-futbol-o"></i> Product Variety
                </h3>
                <p>
                    Offering the whole product range of stock feeds to suit
                    livestock farmers.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="service_title">
                    <i class="fa fa-futbol-o"></i> Feeding People
                </h3>
                <p>
                    Packaging of basic food products for Zimbabweans e.g salt,
                    sugar beans etc.
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="service_title">
                    <i class="fa fa-futbol-o"></i> Your Staple Food
                </h3>
                <p>
                    Manufacturing of mealie meal since sadza is the staple food
                    for Zimbabweans
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="service_title">
                    <i class="fa fa-futbol-o"></i> Happy Customers
                </h3>
                <p>
                    Managing product quality, convenience to customers,
                    professional customer service and managing budgets..
                </p>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <h3 class="service_title">
                    <i class="fa fa-futbol-o"></i> Our Growth
                </h3>
                <p>
                    Constant evaluation of strengths and weaknesses with
                    adjustments made as warranted..
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /enjoy our services -->
<!-- testiomonials -->
<!-- <section class="testimonials">
    <div class="container">
        <div class="title-main">
            <h2 class="h2">
                Some Testimonails<span class="title-secondary"
                    >People Says About Us</span
                >
            </h2>
        </div>
        <div class="owl-carousel">
            <div class="item">
                <div class="testimonials-block_i">
                    <div class="testimonials-block_t">
                        Great <span>Service</span>
                    </div>
                    <p>
                        Old unsatiable our now but considered travelling
                        impression. In excuse hardly summer in basket misery. By
                        rent an part need. At wrong of of water those linen.
                        Needed oppose seemed how all
                    </p>
                </div>
                <div class="testimonials-block_user">
                    <div class="user_img">
                        <img src="assets/images/testimonials/mike.jpg" alt="" />
                    </div>
                    <div class="user_n">Garry Carlson</div>
                </div>
            </div>
            <div class="item">
                <div class="testimonials-block_i">
                    <div class="testimonials-block_t">
                        Thank You Very Much <span>I Am Happy!</span>
                    </div>
                    <p>
                        Certainty listening no no behaviour existence assurance
                        situation is. Because add why not esteems amiable him.
                        Interested the unaffected mrs law friendship add
                        principles.
                    </p>
                </div>
                <div class="testimonials-block_user">
                    <div class="user_img">
                        <img src="assets/images/testimonials/mila.png" alt="" />
                    </div>
                    <div class="user_n">Mila Markovna</div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- /testiomonials -->
<!-- map -->
<!-- <section class="map">
    <div id="map"></div>
</section> -->
<!-- /map -->
<!-- /main wrapper -->
<%- include('includes/footer'); -%>
